@using Microsoft.AspNetCore.Mvc.Localization;
@using KAMAZ_Smart_Analytics.Models.List;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Сессия</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-thumbnail" height="700" width="1300" src="~/img/type/@(ViewBag.Vehicle.Type).webp" onerror="setDefaultImage(this);" />
            </div>
            <div class="col-sm-6">
                <h3>@SharedLocalizer["Client"]</h3>
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["User"]:</b> @(ViewBag.ServiceCenter.Username)</p>
                </div>
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["City"]:</b> @(ViewBag.ServiceCenter.City)</p>
                </div>
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["VersionDB"]:</b> @(ViewBag.Session.VersionDb)</p>
                </div>
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["VCISN"]:</b> @(ViewBag.Session.Vcisn)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Basic information</h3>
            <div class="col-sm-6">
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["Type"]:</b> @(ViewBag.Vehicle.Type)</p>
                </div>
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["DesignNumber"]:</b> @(ViewBag.Vehicle.DesignNumber)</p>
                </div>
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["Vin"]:</b> @(ViewBag.Vehicle.Vin)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["Iccid"]:</b> @(ViewBag.Vehicle.Iccid)</p>
                </div>
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["Iccidc"]:</b> @(ViewBag.Vehicle.Iccidc)</p>
                </div>
                <div class="row p-3 border bg-light">
                    <p class="lead"><b>@SharedLocalizer["Imei"]:</b> @(ViewBag.Vehicle.Imei)</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h3>@SharedLocalizer["Identification"]</h3>
    @if (ViewBag.Identifications.Count != 0)
    {
        <div class="accordion" id="accordionIdent">
            @foreach (string key in ViewBag.Identifications.Keys)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id=@("heading" + key)>
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=@("#collapse" + key) aria-controls=@("collapse" + key)>
                            @key
                        </button>
                    </h2>
                    <div id=@("collapse" + key) class="accordion-collapse collapse" aria-labelledby=@("heading" + key) data-bs-parent="#accordionIdent">
                        <table class="table">
                            <div class="accordion-body">
                                @foreach (IdentificationWeb ident in ViewBag.Identifications[key])
                                {
                                <tr><td align="left"><p class="lead">@SharedLocalizer[ident.Name]: </p></td><td align="right"><p class="lead">@ident.Value </p></td></tr>
                                }
                            </div>
                        </table>
                    </div>
                </div>
            }
    </div>
    }
    else
    {
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-9">
                <div class="row p-9 border bg-light">
                    <p class="lead">@SharedLocalizer["NotFound"]</p>
                </div>
            </div>
        </div>
    </div>
    }
<br /br>
<h3>@SharedLocalizer["Internal tests"]</h3>
    @if (ViewBag.ProcedureReports.Count != 0)
    {
    <table id="content-container" class="table">
        <thead>
            <tr>
                <td><h5>@SharedLocalizer["Ecu"]</h5></td>
                <td><h5>@SharedLocalizer["Type"]</h5></td>
                <td><h5>@SharedLocalizer["Name"]</h5></td>
                <td><h5>@SharedLocalizer["Result"]</h5></td>
                <td><h5>@SharedLocalizer["DateStart"]</h5></td>
                <td><h5>@SharedLocalizer["DataEnd"]</h5></td>
                <td><h5>@SharedLocalizer["Vin"]</h5></td>
                <td><h5>@SharedLocalizer["File"]</h5></td>
            </tr>
        </thead>
            @foreach (ProcedureReportWeb proc in ViewBag.ProcedureReports)
            {
            <tr>
                <td><p>@proc.Codifier</p></td>
                <td><p>@proc.Type</p></td>
                <td><p>@proc.Name</p></td>
                <td><p>@proc.Result</p></td>
                    @if (proc.DateStart != null)
                    {
                        DateTimeOffset dateStart = (DateTimeOffset)proc.DateStart;
                    <td><p>@dateStart.ToString("dd.MM.yyyy (HH:mm:ss)")</p></td>
                    }
                    else
                    {
                    <td><p>---</p></td>
                    }
                <td><p>@proc.DateEnd.ToString("dd.MM.yyyy (HH:mm:ss)")</p></td>
                <td><p>@proc.UsingVin</p></td>
                <td><p>@proc.DataFiles</p></td>
            </tr>
            }
    </table>
    }
    else
    {
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-9">
                <div class="row p-9 border bg-light">
                    <p class="lead">@SharedLocalizer["NotFound"]</p>
                </div>
            </div>
        </div>
    </div>
    }

<br />
    @if (ViewBag.AoglonassReports.Count != 0)
    {
    <h3>@SharedLocalizer["AOGlonass"]</h3>
    <table id="content-container" class="table">
        <thead>
            <tr>
                <td><h5>@SharedLocalizer["DateStart"]</h5></td>
                <td><h5>@SharedLocalizer["Action"]</h5></td>
                <td><h5>@SharedLocalizer["Params"]</h5></td>
                <td><h5>@SharedLocalizer["Status"]</h5></td>
            </tr>
        </thead>
            @foreach (AoglonassReport aoproc in ViewBag.AoglonassReports)
            {
            <tr>
                <td><p>@aoproc.DateStart.ToString("dd.MM.yyyy (HH:mm:ss)")</p></td>
                <td><p>@aoproc.Action</p></td>
                <td><p>@aoproc.ParamText</p></td>
                <td><p>@aoproc.Status</p></td>
            </tr>
            }
    </table>

    }
</div>
