@using Microsoft.AspNetCore.Mvc.Localization;
@using KAMAZ_Smart_Analytics.Models.List;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model SessionListViewModel
<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Sessions";
}

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer["Sessions"]</></h1>
    <form method="get">
        <div class="container">
            <div class="row">
                <div class="col" align="left">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseBody" role="button" aria-expanded="false" aria-controls="collapseBody">
                        @SharedLocalizer["Filter"]
                    </a>
                </div>
                <div class="col" align="center">
                    <select name="sortOrder" asp-for="SortViewModel.Current" asp-items="Html.GetEnumSelectList<SortSessionState>()" class="form-select"></select>
                </div>
                <div class="col" align="right">

                    <input id="filter" type="submit" value="Применить" class="btn btn-outline-dark" />
                </div>
            </div>
        </div>
        <div class="collapse px-4" id="collapseBody">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>@SharedLocalizer["Vin"]: </h5>
                        <input name="vin" value="@Model.FilterViewModel.SelectedVin" class="form-control" />

                    </div>
                    <div class="col">
                        <h5>@SharedLocalizer["BaseVersion"]: </h5>
                        <select name="versionDb" asp-items="Model.FilterViewModel.Versions" class="form-select"></select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />
    <table id="content-container" class="table table-striped table-hover">
        <thead>
            <tr>
                <td><h5>@SharedLocalizer["Type"]</h5></td>
                <td><h5>@SharedLocalizer["Vin"]</h5></td>
                <td><h5>@SharedLocalizer["Date"]</h5></td>
                <td><h5>@SharedLocalizer["BaseVersion"]</h5></td>
                <td><h5>@SharedLocalizer["Identification"]</h5></td>
                <td><h5>@SharedLocalizer["Faults"]</h5></td>
                <td><h5>@SharedLocalizer["Tests"]</h5></td>
                <td><h5>@SharedLocalizer["Programming"]</h5></td>
            </tr>
        </thead>
        @foreach (Session s in Model.Objects)
        {
            string[] Array = s.SessionsName.Split('@');
            <tr class='clickable-row' data-href="/Session/Index?Id=@s.Id">
                <td><p>@Array[1]</p></td>
                <td><p>@Array[0]</p></td>
                <td><p>@s.Date.ToString("dd.MM.yyyy (HH:mm:ss)")</p></td>
                <td><p>@s.VersionDb </p></td>
                <td><p>@s.HasIdentifications</p></td>
                <td><p>@s.HasDtc</p></td>
                <td><p>@s.HasTests</p></td>
                <td><p>@s.HasFlash</p></td>
            </tr>
        }
    </table>
    <br />

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="List"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       asp-route-vin="@(Model.FilterViewModel.SelectedVin)"
       asp-route-versionDb="@(Model.FilterViewModel.SelectedVersionDB)"
       class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            @SharedLocalizer["Back"]
        </a>
    }
    @SharedLocalizer["Page"] @(Model.PageViewModel.TotalPages < Model.PageViewModel.PageNumber ? 0 : Model.PageViewModel.PageNumber) из @Model.PageViewModel.TotalPages

    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="List"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       asp-route-vin="@(Model.FilterViewModel.SelectedVin)"
       asp-route-versionDb="@(Model.FilterViewModel.SelectedVersionDB)"
       class="btn btn-outline-dark">
            @SharedLocalizer["Next"]
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>