@using KAMAZ_Smart_Analytics.Models
@model IndexViewModel
<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Sessions";
}

<div class="text-center">
    <h1 class="display-4">Сессии</h1>
    <form method="get">
        <div class="form-inline">
            <label>Вин: </label>
            <input name="vin" value="@Model.FilterViewModel.SelectedVin" class="form-control" />

            <label>Версия базы: </label>
            <select name="versionDb" asp-items="Model.FilterViewModel.Versions" class="form-control"></select>

            <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td><p>Тип</p></td>
                <td><p>Вин</p></td>
                <td>
                    <p>
                        <a asp-action="List"
                           asp-route-sortOrder="@(Model.SortViewModel.DateSort)"
                           asp-route-vin="@(Model.FilterViewModel.SelectedVin)"
                           asp-route-versionDb="@(Model.FilterViewModel.SelectedVersionDB)">Дата</a>
                    </p>
                </td>
                <td>
                    <p>
                        <a asp-action="List"
                           asp-route-sortOrder="@(Model.SortViewModel.VersionDbSort)"
                           asp-route-vin="@(Model.FilterViewModel.SelectedVin)"
                           asp-route-versionDb="@(Model.FilterViewModel.SelectedVersionDB)">Версия базы</a>
                    </p>
                </td>
                <td><p>Идентификация</p></td>
                <td><p>Неисправности</p></td>
                <td><p>Тесты</p></td>
                <td><p>Программирование</p></td>
            </tr>
        </thead>
        @foreach (Session s in Model.Objects)
        {
            string[] Array = s.SessionsName.Split('@');
            <tr class='clickable-row' data-href="/Session/Index?Id=@s.Id">
                <td><p>@Array[1]</p></td>
                <td><p>@Array[0]</p></td>
                <td><p>@s.Date.ToString("dd.MM.yyyy (hh:mm:ss)")</p></td>
                <td><p>@s.VersionDb <p /></td>
                <td><p>@s.HasIdentifications</p></td>
                <td><p>@s.HasDtc</p></td>
                <td><p>@s.HasTests</p></td>
                <td><p>@s.HasFlash</p></td>
            </tr>
        }
    </table>
    <br />

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="List"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       asp-route-vin="@(Model.FilterViewModel.SelectedVin)"
       asp-route-versionDb="@(Model.FilterViewModel.SelectedVersionDB)"
       class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    Страница @(Model.PageViewModel.TotalPages < Model.PageViewModel.PageNumber ? 0 : Model.PageViewModel.PageNumber) из @Model.PageViewModel.TotalPages

    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="List"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       asp-route-vin="@(Model.FilterViewModel.SelectedVin)"
       asp-route-versionDb="@(Model.FilterViewModel.SelectedVersionDB)"
       class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>
<script>
        $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });
</script>